/bic_minimal_result.png
/bic_model_summary.png
/Dummy.dvi
/Dummy.synctex.gz
/Dummy.tex
/Pearl_Style.aux
/Pearl_Style.dvi
/Pearl_Style.log
/Pearl_Style.out
/Pearl_Style.txt
/picture_1.png
/picture_2.png
/SEM_BIC_2.py