/bic_minimal_result.png
/bic_model_summary.png
/Pearl_Style.aux
/Pearl_Style.dvi
/Pearl_Style.log
/Pearl_Style.out
/Pearl_Style.txt
/picture_1.png
/picture_2.png
/Present_1.aux
/Present_1.dvi
/Present_1.log
/Present_1.out
/Present_1.txt
/Present_1.nav
/Present_1.snm
/Present_1.toc
/Present_1.tex